body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #111827;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-color: #fff;
}

header>.title {
    margin-right: 96px;
}

header>.title>a {
    text-decoration: none;
}

header>.title>p {
    font-weight: bold;
    text-transform: uppercase;
    color: #006A4E;
    margin-top: 6px;
    margin-left: 219px;
}

header ul.flex-container {
    display: flex;
    gap: 32px;
}

header ul a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

header ul a:hover {
    color: #008000;
    text-decoration: underline;
}

h1 {
    font-family: "Domine", sans-serif;
    font-weight: bold;
    font-size: 31px;
    text-transform: uppercase;
    color: #008000;
    line-height: 1;
}

h2 {
    font-family: "Domine", sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    color: #008000;
    margin-bottom: 24px;
}

h3 {
    font-family: "Domine", sans-serif;
    color: #006A4E;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 24px;
}

main {
    background: url(../img/checkout-banner-bg.jpg) #fff no-repeat;
}

main>section.flex-container {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.banner-content {
    /* 49 - 30*/
    margin-bottom: 19px;
}

.banner-content>h2 {
    font-size: 60px;
    color: #FFBA00;
    margin: 123px 573px 0 36px;
}

.banner-content>p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 581px 60px 36px;
}

.order {
    width: 300px;
}

.order>img {
    margin-bottom: 12px;
}

.order>h3 {
    margin-bottom: 0;
}
.order>p {
    margin-bottom: 12px;
}

.order>table {
    border-collapse: collapse;
    border: 1px solid;
    color: #111827;
}

.order>table th, td {
    border: 1px solid;
    color: #111827;
    padding: 10px 15px;
    text-align: center;
    font-weight: normal;
}

.payment {
    width: 630px;
    margin-bottom: 72px;
}

.payment section {
    margin-bottom: 48px;
}

.payment .required {
    margin-left: 12px;
    color: #B91C1C;
}

.payment input {
    /* 300 - 2*2(border) - 2*2(padding) */
    width: 292px;
    /* 40 - 2*2(border) - 2*1(padding) */
    height: 34px;
    margin-top: 6px;
    background-color: #F9FAFB;
    border: 1px solid  #D1D5DB;
}

.payment #name, #creditCard {
    /* 630 - 2*2(border) - 2*2(padding) */
    width: 622px;
}

.payment #name, #address, #city, #creditCard {
    margin-bottom: 24px;
}

input.btn {
    width: 630px;
    height: 40px;
    color: #008000;
    font-weight: bold;
    background-color: #FFBA00;
    border: 0;
    border-radius: 4px;
}

input.btn:hover {
    background-color: #008000;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 3px #FFBA00;
}

.payment .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    padding: 48px 50px;
    color: #fff;
    font-weight: bold;
    background-color: #006A4E;
}

footer>h2 {
    color: #fff;
    font-size: 31px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 256px 17px 248px;
}

footer>.flex-container {
    gap: 16px 68px;
    flex-wrap: wrap;
    margin: 0 256px 24px 248px;
    justify-content: center;
}

footer ul a {
    color: #fff;
    text-decoration: none;
}

footer ul a:hover {
    color: #FFBA00;
}

footer>div.line {
    width: 860px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 24px;
}
footer>p {
    text-align: center;
}