body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #111827;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-color: #fff;
}

header>.title {
    margin-right: 96px;
}

header>.title>a {
    text-decoration: none;
}

header>.title>p {
    font-weight: bold;
    text-transform: uppercase;
    color: #006A4E;
    margin-top: 6px;
    margin-left: 219px;
}

header ul.flex-container {
    display: flex;
    gap: 32px;
}

header ul a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

header ul a:hover {
    color: #008000;
    text-decoration: underline;
}

h1 {
    font-family: "Domine", sans-serif;
    font-weight: bold;
    font-size: 31px;
    text-transform: uppercase;
    color: #008000;
    line-height: 1;
}

h2 {
    font-family: "Domine", sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    color: #008000;
    margin-bottom: 24px;
}

h3 {
    font-family: "Domine", sans-serif;
    color: #006A4E;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 12px;
}

main {
    background: url(../img/checkout-banner-bg.jpg) #fff no-repeat;
}

main>section.flex-container {
    display: flex;
    flex-flow: row wrap;
    gap: 49px;
}

.banner-content>h2 {
    font-size: 60px;
    color: #FFBA00;
    margin: 123px 573px 0 36px;
}

.banner-content>p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 581px 60px 36px;
}

.order>table {
    border-collapse: collapse;
    border: 1px solid;
    color: #111827;
}

.order>table th, td {
    border: 1px solid;
    color: #111827;
    padding: 11px 15px;
    text-align: center;
    font-weight: normal;
}



footer {
    padding: 48px 50px;
    color: #fff;
    font-weight: bold;
    background-color: #006A4E;
}

footer>h2 {
    color: #fff;
    font-size: 31px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 256px 17px 248px;
}

footer>.flex-container {
    gap: 16px 68px;
    flex-wrap: wrap;
    margin: 0 256px 24px 248px;
    justify-content: center;
}

footer ul a {
    color: #fff;
    text-decoration: none;
}

footer ul a:hover {
    color: #FFBA00;
}

footer>div.line {
    width: 860px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 24px;
}
footer>p {
    text-align: center;
}